/industrial_benchmark_java/target/
/industrial_benchmark_java/IB.log
/industrial_benchmark_java/.settings/
/industrial_benchmark_java/dyn-markov.csv
/industrial_benchmark_java/dyn-observable.csv
*.pyc
*.idea/
*.settings/
*.classpath
*.project